@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;

}

.Cabecalho {
    background-color: rgba(6, 85, 30, 0.856);
}
.Cabecalho h1 {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 30px;
    color: rgb(4, 58, 20);
}

.perguntas {
    display: flex ;
    flex-direction: column;
    padding: 30px;
}

h2 {
    color: rgba(4, 58, 20, 0.87);
}

button {
    background-color: rgba(6, 85, 30, 0.856);
    display:block;
    height:auto;
    margin: 6px auto;
    padding: 5px;
    border-radius: 5px;
    text-decoration:none
}

button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

